*{
  margin: 0;
  padding: 0;
}


/* NAVBAR */


.menu{
  background-color: rgb(21, 111, 196);
  text-align: center;
  align-items: center;
  padding: 16px;
  margin-bottom: 50px;
}

.nav ul{
  display: flex;
  align-items: center;
  list-style: none;
}

.nav ul li + li{
  margin-left: 24px;
  align-items: center;
  display: flex;
}

.nav a{
  color: white;
}

/* HOME */

.body{
  max-width: 1220px;
  margin: 64px auto 0;
  padding: 0 24px;
}


.body h1{
  text-align: center;
  font-weight: bold;
  line-height: 3;
}

.body h4{
  text-align: center;
  line-height: 3;
}

.fotos{
  width: calc(100% - 10px);
  object-fit: cover;
  flex-wrap: wrap;
  gap: 24px;
  display: flex;
}

.fotos img{
  width: 100%;
  height: auto;
  display: flex;
}

.fotos div{
  width: 350px;
}


.fotos p{
  color:rgb(9, 9, 133);
  font-weight: bold;
  
}

/* FOOTER */

.Sesi{
  margin-left: 1200px;
  
}

.footer{
  background-color: rgb(21, 111, 196);
  text-align: center;
  align-items: center;
  padding: 16px;
}

.footer p {
  color: white;
  text-align: center;
  line-height: 2;
}


/* CONTATO */

.formu{
  height: 1500%;
  width: max-content;
  justify-content: center;
  background-color: rgba(201, 201, 201, 0.377);
  border: 0;

  margin-bottom: 500px; 
}

.formu legend{
  font-weight: bold;

}

.formu label{
 justify-content: center;
}

/* QUEM SOMOS */

.Quem1{
  line-height: 2;
  border-bottom: 100px solid rgb(1, 69, 255);
}

.Quem2{
  line-height: 2;
  border-bottom: 100px solid rgb(1, 69, 255);
}

.Quem3{
  line-height: 2;
  margin-bottom: 300px;
}

